.clock {
  color: #222831;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 75px;
  left: 50%;
  letter-spacing: 10px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#clock {
  margin: 0 0 75px;
}

#today,
#minutes,
#percent {
  color: #393e46;
  font-size: 50%;
}

#today,
#minutes {
  margin: 0 0 50px;
}

#percent {
  margin: 0;
}
